/node_modules

/.env

/credentials/*
!/credentials/.gitkeep

/outputs/*
!/outputs/.gitkeep

/data/*
!/data/.gitkeep

/.temporaly/

# Large binary file
/toolbox

.tasks/*
!.tasks/templates/
!.tasks/templates/**
!.tasks/AGENTS.md
.playground/*
